<div class="inside">
    <div class="inside__text">
        //= ./title-content-block-4.html
    </div>
    <div class="inside__pic">
        <picture>
            <source srcset='./img/inside-pic.webp' type='image/webp'>
            <source srcset='./img/inside-pic.jpg' type='image/jpeg'>
            <img src='./img/inside-pic.jpg' alt=''>
        </picture>
    </div>
    <div class="inside__collapse">
        <div class="inside__collapse-title js-collapse-title">Характеристики и&nbsp;спецификация <span></span></div>
        <div class="inside__collapse-content js-collapse-content">
            <ul>
                <li><strong>Основные характеристики</strong></li>
                <li>Масса с&nbsp;элементом питания&nbsp;&mdash; 200 г</li>
                <li>Два элемента питания — CR123А (3,0 В)</li>
                <li>Время непрерывной работы устройства — 6 ч</li>
                <li>Габаритные размеры (длина×ширина×высота) — 82×67×23 мм</li>
                <li>Диапазон рабочих температур — от -40° С до +60° С</li>
            </ul>
            <ul>
                <p><strong>Видимый лазер</strong></p>
                <li>Длина волны — 605-665 нм</li>
                <li>Мощность лазера — 4.0 мВт (по классификаций опасности лазера — 3 А)</li>
                <li>Размер пятна целеуказателя, в зависимости от дистанции — 25 мм / 50 м; 50 мм / 100 м</li>
            </ul>
            <ul>
                <p><strong>Инфракрасный лазер</strong></p>
                <li>Длина волны — 940 нм</li>
                <li>Мощность лазера — 50 мВт</li>
                <li>Расходимость излучения — 0,5 мрад</li>
                <li>Дистанция работы лазера при минимальной мощности — >400 м</li>
                <li>Дистанция работы лазера при максимальной мощности — >600 м</li>
            </ul>
        </div>
    </div>
</div>