<div id="scenario" class="scenario js-tabacc">
    <div class="scenario__inner">
        <div class="scenario__block">
            <div class="scenario__nav-title"> Сценарии Firetag: миссия выполнима </div>
            <div class="scenario__nav">
                <div class="scenario__nav-item active js-tabacc-title" data-tabid="sturm"><span>Штурм</span></div>
                <div class="scenario__nav-item js-tabacc-title" data-tabid="hostage"><span>Спасение заложника</span></div>
                <div class="scenario__nav-item js-tabacc-title" data-tabid="bond"><span>Наследие Бонда</span></div>
                <div class="scenario__nav-item js-tabacc-title" data-tabid="escape"><span>Побег</span></div>
                <div class="scenario__nav-item js-tabacc-title" data-tabid="flag"><span>Захват флага</span></div>
                <div class="scenario__nav-item js-tabacc-title" data-tabid="team"><span>Командная битва</span></div>
            </div>
        </div>
        <div class="scenario__items">
            <div class="scenario__item">
                <div class="scenario__content active show js-tabacc-content" data-tabcontent="sturm">
                    <div class="scenario__pic">
                        <picture>
                            <source srcset='./img/scenario_shturm.webp' type='image/webp'>
                            <source srcset='./img/scenario_shturm.jpg' type='image/jpeg'>
                            <img src='./img/scenario_shturm.jpg' alt=''>
                        </picture>
                    </div>
                    <p>Одна команда занимает здание или высоту. Второй команде необходимо взять объект штурмом и уничтожить всех бойцов противника. Для победы команда штурмовиков должна уничтожить противника и занять здание или высоту до конца игрового раунда, команде обороняющихся необходимо продержаться на позиции и выжить до конца игры.</p>
                </div>
            </div>
            <div class="scenario__item">
                <div class="scenario__content js-tabacc-content" data-tabcontent="hostage">
                    <div class="scenario__pic">
                        <picture>
                            <source srcset='./img/scenario_hostage_rescue.webp' type='image/webp'>
                            <source srcset='./img/scenario_hostage_rescue.jpg' type='image/jpeg'>
                            <img src='./img/scenario_hostage_rescue.jpg' alt=''>
                        </picture>
                    </div>
                    <p>Сюжет для тех, кто обожает атмосферу приключенческих боевиков. По условиям, телохранители должны сопроводить важного заложника к точке эвакуации так, чтобы террористы не смогли «ликвидировать» випа. Соответственно, задача террористов — найти удобные точки обстрела и вывести его игры. В рамках сценария возможны варианты:<br>1. Одну из сторон снабдить снайперскими оптическими прицелами или радиосвязью.<br>2. Организовать засады.<br>3. Ввести позицию предателя на стороне телохранителей.</p>
                </div>
            </div>
            <div class="scenario__item">
                <div class="scenario__content js-tabacc-content" data-tabcontent="bond">
                    <div class="scenario__pic">
                        <picture>
                            <source srcset='./img/scenario_bond_legacy.webp' type='image/webp'>
                            <source srcset='./img/scenario_bond_legacy.jpg' type='image/jpeg'>
                            <img src='./img/scenario_bond_legacy.jpg' alt=''>
                        </picture>
                    </div>
                    <p>Один игрок выступает в роли суперагента с запасом из 240 патронов и 6 жизней. Его задача — заминировать и уничтожить базу противника. Базу обороняет множество вооруженных бойцов, в арсенале каждого из них — 100 патронов. Их цель уничтожить лазутчика и не допустить взрыв. Условный агент может получить рацию и по ней получать сведения от своего союзника-наблюдателя.</p>
                </div>
            </div>
            <div class="scenario__item">
                <div class="scenario__content js-tabacc-content" data-tabcontent="escape">
                    <div class="scenario__pic">
                        <picture>
                            <source srcset='./img/scenario_escape.webp' type='image/webp'>
                            <source srcset='./img/scenario_escape.jpg' type='image/jpeg'>
                            <img src='./img/scenario_escape.jpg' alt=''>
                        </picture>
                    </div>
                    <p>Этот сценарий — противостояние заключённых и полиции. Заключённые совершают побег из тюрьмы. Их задача — найти заранее спрятанные ящики с сокровищами, не попавшись полицейским. Полицейские должны не дать беглецам завладеть кладами и обезвредить нарушителей.
                        <br>Беглецы вступают в игру с незаряженным оружием, а полиция пускается в погоню через несколько минут после начала раунда. Чтобы пополнить боезапас, преступникам нужно найти «схрон» с патронами. Зарядив оружие, бывшие заключённые начинают поиск клада, а полицейские продолжают преследование и стараются выводить соперников из игры.
                    </p>
                </div>
            </div>
            <div class="scenario__item">
                <div class="scenario__content js-tabacc-content" data-tabcontent="flag">
                    <div class="scenario__pic">
                        <picture>
                            <source srcset='./img/scenario_capture_the_flag.webp' type='image/webp'>
                            <source srcset='./img/scenario_capture_the_flag.jpg' type='image/jpeg'>
                            <img src='./img/scenario_capture_the_flag.jpg' alt=''>
                        </picture>
                    </div>
                    <p>Команды занимают позиции на своих базах. Для победы команда должна захватить обычный флаг соперника и доставить его на свою базу. Другой вариант — на поле остаётся только один флаг. Одна команда его обороняет, а другая стремится присвоить. Перед началом игры можно также раздать карты, на которых обозначено место установки флага. Тогда командам придётся ориентироваться на местности и сначала отыскать объект, а потом уже вступить в противостояние.</p>
                </div>
            </div>
            <div class="scenario__item">
                <div class="scenario__content js-tabacc-content" data-tabcontent="team">
                    <div class="scenario__pic">
                        <picture>
                            <source srcset='./img/scenario_team_battle.webp' type='image/webp'>
                            <source srcset='./img/scenario_team_battle.jpg' type='image/jpeg'>
                            <img src='./img/scenario_team_battle.jpg' alt=''>
                        </picture>
                    </div>
                    <p>Игроки делятся на две команды, задача каждой — найти и уничтожить отряд противника. Раунды короткие. Победителем становится команда, которая смогла за установленное время вывести из строя всех противников. Если по завершении игрового времени в каждой из команд остались выжившие, инструктор даёт свисток. До окончания схватки остаётся одна минута, по истечении которой и определится лидер. Победителем объявляют команду, в которой уцелело большее число игроков.</p>
                </div>
            </div>
        </div>
    </div>
</div>