<div class="title-content">
    <div class="title-content__title">
        <h2>Как это работает?</h2>
    </div>
    <div class="title-content__content">
        <p>Охолощённое оружие &mdash; это боевые образцы, модернизированные особым образом для стрельбы холостыми патронами. Такой вид боеприпасов имитирует настоящий выстрел, но без вылета пули из канала ствола. Это обеспечивает абсолютную безопасность во время командных сражений. С таким оружием любая военно-тактическая игра станет максимально реалистичной.</p>
    </div>
</div>